<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/articles">Home</a>
    <form action="/articles" method="POST">
        <input type="text" name="title" placeholder="enter title">
        <input type="text" name="description" placeholder="enter description">
        <input type="number" name="likes" placeholder="enter no.of likes">
        <input type="submit" value="create">
    </form>
    
</body>
</html>